/* ============= COMMON ============= */
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.woff2");
  font-weight: 700;
  font-style: normal;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

body,
p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

/* ============= HEADER ============= */

.banner-header {
  background-image: url(../images/banner-bg.jpg);
  background-size: cover;
  position: relative;
  width: 100%;
  height: 450px;
  z-index: 1;
}

.banner-header::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #000;
  opacity: 0.6;
  z-index: 2;
  width: 100%;
  height: 450px;
}

.container-header {
  display: flex;
  align-items: center;
  padding-top: 29px;
  max-width: 1170px;
  justify-content: space-between;
  margin:0 auto;
}

.noemi-logo {
  display: block;
  position: relative;
  z-index: 3;
  width: 179px;
}

.header-navigation {
  z-index: 3;
  text-transform: uppercase;
}

.header-menu {
  justify-content: space-between;
  display: flex;
  gap: 35px;
  margin: 0;
  padding: 0;
}

.header-menu-item {
  display: inline;
  font-size: 13px;
  font-weight: 400;
}

.header-menu-link {
  text-decoration: none;
  color: #ffffff;
}

.header-menu-link:hover {
  text-decoration: underline;
}

.menu-button {
  width: 23px;
  height: 17px;
  background-color: transparent;
  border: none;
  padding: 0;
  position: relative;
}

.menu-button:hover {
  cursor: pointer;
}

.menu-button::before,
.menu-button::after {
  content: "";
  width: 23px;
  height: 3px;
  display: block;
  background-color: #fff;
  position: relative;
}

.menu-button::before {
  top: 0;
}

.menu-button::after {
  bottom: 0;
}

.menu-button-label {
  display: block;
  width: 23px;
  height: 3px;
  position: relative;
  top: 53%;
  bottom: 50%;
  background-color: #fff;
}

.header-title {
  margin-top: 60px;
  font-size: 45px;
  line-height: 75px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  position: relative;
  z-index: 2;
  text-transform: uppercase;
}

/* ============= TRENDS ============= */

.topic-header {
  text-align: center;
  font-size: 20px;
  color: #0f0d0e;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 60px;
}

.topic-header::after {
  content: "";
  display: block;
  margin: 10px auto 0;
  width: 66px;
  height: 3px;
  background-color: #b59f5b;
  margin-bottom: 30px;
  opacity: 0.4;
}

.article-trends {
  display: flex;
}

.trend-box:not(:last-child) {
  margin-right: 4px;
}

.trend-box {
  width: 25%;
  height: 320px;
  background-color: darkred;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: flex-end;
}

.trend-box::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #000;
  opacity: 0.6;
  z-index: 2;
  width: 100%;
  height: 320px;
}

.trend-first {
  background-image: url("../images/trend1.jpg");
}

.trend-second {
  background-image: url("../images/trend2.jpg");
}

.trend-third {
  background-image: url("../images/trend3.jpg");
}

.trend-fourth {
  background-image: url("../images/trend4.jpg");
}

.trend-box-description {
  border: 3px solid rgba(181, 159, 91, 0.6);
  position: relative;
  z-index: 3;
  margin: 15px 20px;
  width: 100%;
  padding: 38px 33px;
}

.trend-header {
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #fff;
}

/* ============= MAIN CONTENT ============= */

.page {
  margin-top: 64px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding: 0 15px;
  justify-content: space-between;
  display: flex;
}

.main-content {
  width: 780px;
}

.post-image {
  object-fit: cover;
  box-sizing: border-box;
  position: relative;
}

.post-content {
  display: flex;
}

.post-content:not(:last-child) {
  margin-bottom: 60px;
}

.post-text-content {
  margin-left: 30px;
  max-width: 367px;
}

.post-tags {
  margin-top: 0px;
  padding-left: 0px;
  display: flex;
}

.post-tag-item {
  display: inline;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  padding-right: 20px;
}

.post-tag-link {
  text-decoration: none;
  color: #b59f5b;
  vertical-align: top;
}

.post-author-link {
  text-decoration: none;
  color: #000000;
}

.post-article {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 5.5px;
}

.post-article-link {
  text-decoration: none;
  color: #0f0d0e;
}

.post-article-link:hover {
  color: #b59f5b;
}

.post-info {
  display: flex;
  margin-top: 22px;
  margin-bottom: 29px;
}

.post-date {
  font-size: 12px;
  line-height: 40px;
  color: #888888;
  font-weight: 400;
}

.post-author {
  margin-left: 13px;
  font-size: 12px;
  line-height: 40px;
  color: #000000;
  font-weight: 700;
}

.post-text {
  font-size: 15px;
  line-height: 22px;
  color: #0f0d0e;
  font-weight: 400;
}

.post-text > p:not(:first-child) {
  margin-top: 16px;
}

/* ============= ASIDE CONTENT ============= */

.aside-content {
  width: 270px;
}

.latest-posts {
  margin-bottom: 60px;
}

.aside-header {
  text-align: center;
  font-size: 14px;
  line-height: 29px;
  color: #0f0d0e;
  font-weight: 700;
  text-transform: uppercase;
}

.aside-header::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 66px;
  height: 3px;
  background-color: #b59f5b;
  margin-bottom: 30px;
  opacity: 0.4;
}

.latest-image {
  width: 70px;
  height: 70px;
  object-fit: cover;
}

.latest-post {
  display: flex;
  margin-bottom: 22px;
}

.latest-post-text {
  margin-left: 20px;
}

.latest-post-data {
  display: inline;
  margin-top: 0px;
  font-size: 12px;
  color: #000000;
  opacity: 0.54;
  font-weight: 400;
}

.latest-post-header {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
}

.latest-post-header:hover {
  color: #b59f5b;
}

.search-form {
  margin-top: 60px;
  vertical-align: baseline;
  width: 270px;
  height: 49px;
  display: flex;
  font-size: 0;
}

.search-form:focus {
  border: 1px solid #b59f5b;
}

.search-input {
  width: 221px;
  height: 48px;
  font-size: 13px;
  line-height: 40px;
  opacity: 0.54;
  padding-left: 18px;
  background-color: #f4f7f6;
  border: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.search-button {
  background-color: #b59f5b;
  background-size: 18px;
  background-position: center center;
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
  background-image: url("../svg/search.svg");
  border: none;
}

.search-button:hover {
  background-color: #323232;
  cursor: pointer;
}

.distribution {
  margin-bottom: 60px;
}

.email-input {
  width: 270px;
  height: 48px;
  background-color: #f4f7f6;
  border: 0;
  padding-left: 17px;
  margin-bottom: 16px;
}

.distribution-button {
  width: 270px;
  height: 48px;
  background-color: #b59f5b;
  border: 0;
  font-size: 14px;
  line-height: 40px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
}

.distribution-button:hover {
  background-color: #323232;
  cursor: pointer;
}

.tags {
  margin-bottom: 54px;
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.tag {
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  margin-right: 3px;
  margin-bottom: 6px;
}

.tag-link {
  text-decoration: none;
  display: inline-block;
  color: #0f0d0e;
  border: 3px solid #eeeeee;
  height: 31px;
  padding-top: 4px;
  padding-left: 13px;
  padding-right: 13px;
}

.topics {
}

.topics-container {
  padding: 0;
  margin-top: -22px;
}

.topic {
  list-style-type: none;
  font-size: 14px;
  line-height: 47px;
  font-weight: 700;
}

.topic::after {
  content: "";
  display: block;
  width: 270px;
  height: 1px;
  background-color: #eeeeee;
}

.topic-link {
  text-decoration: none;
  color: inherit;
  margin-right: 5px;
}

.index {
  line-height: 36px;
  color: #b59f5b;
  vertical-align: super;
  font-size: 12px;
}

.our-products {
  max-width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.products-row {
  display: flex;
  justify-content: space-between;
}

.product {
  width: 347px;
  display: flex;
  flex-direction: column;
}

.product-picture {
  position: relative;
  z-index: 1;
}

.product-img {   
  display: block;
  margin: 0 auto; 
}

.shop-product {
  font-size: 20px;
  color: #0f0d0e;
  font-weight: 700;
  text-transform: uppercase;
}

.product-box {
  border: 3px solid #b59f5b;
  padding: 50px 24px 25px;
  margin-top: -32px;
  position: relative;
  z-index: 2;
  flex-grow: 1;
}

.product-text {
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 20px;
}

.product-link {
  text-decoration: none;
  color: #b59f5b;
}

.price-box {
  display: flex;
  justify-content: space-between;
}

.prices {
  font-size: 20px;
  color: #0f0d0e;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 2px 0px;
  box-sizing: content-box;
}

.previous-price {
  font-size: 0.7em;
  text-decoration: line-through;
}

.shop-button {
  width: 140px;
  height: 48px;
  background-color: #b59f5b;
  border: 0;
  font-size: 14px;
  line-height: 40px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
}

.shop-button:hover {
  background-color: #323232;
  cursor: pointer;
}

/* ============= FOOTER ============= */

.footer {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding: 0 15px;
}

.media-logo-background {
  height: 83px;
  background-color: #f4f7f6;
  margin-bottom: 70px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.social-logo-container {
  list-style-type: none;
  display: flex;
  padding: 0;
}

.social-media-logo {
  display: block;
  margin-right: 80px;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
}

.dribbble {
  background-image: url("../svg/001-dribbble.svg");
}

.pinterest {
  background-image: url("../svg/002-pinterest.svg");
}

.tumblr {
  background-image: url("../svg/003-tumblr.svg");
}

.last-icon {
  margin-right: 0px;
}

.copyright {
  display: block;
  text-align: center;
  margin-bottom: 40px;
}

.copyright-style {
  text-decoration: none;
  color: #adadad;
  font-weight: 700;
  font-size: 13px;
}

/* ============= MEDIA ============= */ 

@media (min-width: 1200px) {
  .menu-button {
    display: none;
  }
}

@media (max-width: 1199px) {
  .header-menu {
    display: none;
  }
}

@media (min-width: 641px) and (max-width: 1199px) {
  .banner-header {
    background-image: url(../images/banner-bg-tablet.jpg);
  } 

  .container-header {
    padding-left: 35px;
    padding-right: 35px;
  }

  .article-trends {
    flex-wrap: wrap;
  }
  
  .trend-box {
    width: calc(50% - 4px);
  }
  
  .trend-box:nth-child(even) {
    margin-right: 0px;
  }
  
  .trend-box:nth-child(n+3) {
    margin-top: 2px;
  }

  .page {
    justify-content: space-around;
  }

  .main-content {
    width: calc(85% - 270px); /* -15% for space between main and aside */
    max-width: 540px; 
  }

  .post-content {
    flex-direction: column;
  }

  .post-text-content::after {
    content: "";
    display: block;
    position: relative;
    width: 100%;
    height: 3px;
    background-color: #eee;
    margin-top: 15px;
  }

  .post-text-content {
    margin-left: 0px;
    margin-top: 15px;
    width: 100%;
    max-width: 540px;
  }

  .post-content:not(:last-child) {
    margin-bottom: 40px;
  }
  
  .products-row {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .product {
    width: 48.5%;
  }
  .product:nth-child(n+3) {
    margin-top: 25px;
  }
  .product-img {
    object-fit: cover;
  }
}
